<nav>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/forms" routerLinkActive="active">Forms</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
        <!-- <li><a [routerLink]="['/parameter', 'testparam', 'nameparameter']" routerLinkActive="active">Parameter</a></li> -->
    </ul>
</nav>
<!-- <br />
<a (click)="redirect()">Redirect To Products</a>
<br />
<a (click)="redirectToParam()">Parameterized route</a>
<br />
<br /> -->

<span title="Login" style="cursor: pointer; color: blue;" *ngIf="!isUserLoggedIn" (click)="login()">User Login</span>

<span title="Logout" *ngIf="isUserLoggedIn" style="cursor: pointer; color: blue;" (click)="logout()">User Logout</span>